inline:true&atl_token:<token>&decorator:dialog&cancelUrl:https://<url>/secure/ICTimeBrowseTimeEntries!default.jspa&submit:form-submitted&actionAfterSubmit:stay&trackerId:&user:<username>&issueKey:<issue>&startDate:<started>&calc:&logWorkOption:summary&timeLogged:<time>&adjustEstimate:auto&activity:<activityId>&comment:<comment>
